@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Пароль успешно изменен";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль изменен. Пожалуйста, <a asp-page="./Login"> нажмите сюда для входа</a>.
</p>
